
input {
    keyboard {
        xkb {
            layout "de"

        }

        numlock
    }

    touchpad {

        tap

        natural-scroll

    }

    mouse {

    }

    trackpoint {

    }
    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="0%"

}

/-output "DP-1" {

    mode "1920x1080@180"

    transform "normal"

    position x=0 y=0
}

/-output "DVI-D-1" {

    mode "1920x1090@60"

    transform "normal"

    position x=1920 y=0
}





layout {

    gaps 16


    center-focused-column "never"


    preset-column-widths {

        proportion 0.33333
        proportion 0.5
        proportion 0.66667


    }

    default-column-width { proportion 0.5; }

     focus-ring {
active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }


    shadow {

        softness 30

        spread 100

        offset x=0 y=5

        color "#0007"
    }

    struts {

    }
}



spawn-at-startup "waybar" "-c" ".config/waybar/niri2.jsonc"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "~/.config/scripts/swww-change.sh"
spawn-at-startup "dunst"
spawn-at-startup "hyprswitch init --show-title --size-factor 5.5 --workspaces-per-row 5 &"
spawn-at-startup "wshowkeys"
spawn-at-startup "elephant"

hotkey-overlay {

}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


window-rule {

    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {

    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="clipse"
    open-floating true
}

window-rule {

    variable-refresh-rate true
}

window-rule {
    match app-id="vesktop"
    open-fullscreen true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id="vesktop"

    block-out-from "screen-capture"
}

window-rule {

    match app-id="vesktop"

    block-out-from "screencast"
}

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

layer-rule {
    match namespace="notifications"
    match at-startup=true

    block-out-from "screencast"
}

binds {

    Mod+Shift+O { show-hotkey-overlay; }

    Mod+Q hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty" "fish"; }
    Mod+E hotkey-overlay-title="Open Neovim" {spawn "kitty" "nvim";};
    Mod+B hotkey-overlay-title="Open Browser: Chrome" {spawn "google-chrome-stable";}
    Mod+R hotkey-overlay-title="Open Walker" {spawn "walker";}
    Mod+D hotkey-overlay-title="Open Vesktop" {spawn "vesktop";}
    Mod+Y hotkey-overlay-title="Open Youtube Music" {spawn "youtube-music";}
    Mod+F hotkey-overlay-title="Open Thunar" {spawn "thunar";}
    Mod+P hotkey-overlay-title="Open Colorpicker" {spawn "hyprpicker" "-a";}
    Mod+H hotkey-overlay-title="Open Edex-ui" {spawn "edex-ui";}
    Mod+Alt+D hotkey-overlay-title="Open Ferdium" {spawn "ferdium";}
    Mod+S hotkey-overlay-title="Open Steam" {spawn "steam-native";}
    Mod+Alt+S hotkey-overlay-title="Open Wshowkeys" {spawn "~/.config/scripts/wshowkeys.sh";}
    Mod+L hotkey-overlay-title="Open Swaylock" {spawn "swaylock" "--config" "/home/matteo/.config/swaylock/config/mocha.conf";}
    Mod+M hotkey-overlay-title="Open Mission Center" {spawn "missioncenter";}

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Alt+Tab repeat=false { toggle-overview; }

    Mod+C repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-workspace-down; }
    Mod+Up    { focus-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-column-to-workspace-up; }
    Mod+Shift+Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Right {focus-monitor-right;}
    Mod+Ctrl+Left {focus-monitor-left;}
    Mod+Ctrl+Shift+Right {move-column-to-monitor-right;}
    Mod+Ctrl+Shift+Left {move-column-to-monitor-left;}

    Mod+WheelScrollLeft  { focus-column-left; }
    Mod+WheelScrollDown  { focus-workspace-down; }
    Mod+WheelScrollUp   { focus-workspace-up; }
    Mod+WheelScrollRight  { focus-column-right; }

    Mod+Shift+WheelScrollLeft { move-column-left; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollUp   { move-column-to-workspace-up; }
    Mod+Shift+WheelScrollDown  { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollRight {focus-monitor-right;}
    Mod+Ctrl+WheelScrollLeft {focus-monitor-left;}
    Mod+Ctrl+Shift+WheelScrollRight {move-column-to-monitor-right;}
    Mod+Ctrl+Shift+WheelScrollLeft {move-column-to-monitor-left;}

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    F11 { fullscreen-window; }
    Mod+X {maximize-column;}

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Alt+Ctrl+Escape { quit; }

    Mod+Shift+P { power-off-monitors; }
}

animations {


    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 1000
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 1000
        curve "ease-out-expo"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
